body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}
.app-wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #222;
  overflow-x: hidden;
}
